<div class="container mt-4">
  <br>
  <h2 class="mb-4">🛒 Carrito de Compras</h2>
  <div *ngIf="items.length === 0" class="alert alert-info text-center">
    Tu carrito está vacío.
  </div>
  <div *ngIf="items.length > 0">
    <table class="table table-bordered table-striped align-middle">
      <thead class="table-primary">
        <tr>
          <th>#</th>
          <th>Producto</th>
          <th>Clasificación</th>
          <th>Cantidad</th>
          <th>Precio unitario</th>
          <th>Subtotal</th>
          <th>Quitar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ item.producto.nombre }}</td>
          <td>{{ item.producto.clasificacion }}</td>
          <td>{{ item.cantidad }}</td>
          <td class="fw-bold">$ {{ item.producto.precio | number:'1.2-2' }}</td>
          <td class="fw-bold">$ {{ (item.producto.precio * item.cantidad) | number:'1.2-2' }}</td>
          <td>
            <button class="btn btn-danger btn-sm"
                    (click)="eliminarItem(i)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-end fw-bold">Total:</td>
          <td colspan="2" class="fw-bold text-success">$ {{ total | number:'1.2-2' }}</td>
        </tr>
      </tfoot>
    </table>
    <div class="d-flex justify-content-end">
      <button class="btn btn-secondary" (click)="vaciarCarrito()">
        <i class="bi bi-cart-x"></i> Vaciar carrito
      </button>
    </div>
    <br>
        <!-- Si el usuario está logueado -->
    <button *ngIf="authService.estaLogueado()" class="btn btn-primary" (click)="continuarCompra()">
      <i class="bi bi-bag-check"></i> Continuar compra
    </button>

    <!-- Si NO está logueado -->
    <div *ngIf="!authService.estaLogueado()" class="alert alert-warning mt-3">
      <i class="bi bi-exclamation-circle"></i>
      Para continuar con la compra debés <a routerLink="/login">iniciar sesión</a>.
    </div>

  </div>
</div>
