<div class="toolbar">
  <img src="https://cdn-icons-png.flaticon.com/512/616/616408.png" alt="PetShop Logo" width="44" height="44">
  <span class="titulo">PetShop Mi Mascota</span>
  <nav style="margin-left:auto; margin-right:20px;">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
    <a routerLink="/productos" routerLinkActive="active">Productos</a>
    <a routerLink="/register" routerLinkActive="active">Registro</a>
    <a routerLink="/carrito" routerLinkActive="active">Mi Carrito</a>
  </nav>
</div>

<router-outlet></router-outlet>
