h2{
    color: #2a8484;
}

button{
      background-color: #2a8484;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover{
     background-color: #247171;
  transform: scale(1.03);
}